table {
    border-collapse: collapse;
	width: 70%;
}

table, th, td {
    border: 1px solid lightgray;
	padding: 10px;
}

th {
    height: 50px;
}

.pair {
	background-color: #f2f2f2;
}

.full-width{
    width: 100%;
    margin: 20px 0px;
}


/*Même largeur pour chaque cellules de tableau*/
tr {
    width: 100%;
    display: table;
    table-layout: fixed; /* optional, for equal spacing */
    border-collapse: collapse;
}
td, th {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    word-wrap: break-word;
}