table {
    border-collapse: collapse;
	width: 70%;
}

table, th, td {
    border: 1px solid lightgray;
	padding: 10px;
}

th {
    height: 50px;
}

.pair {
	background-color: #f2f2f2;
}

.full-width{
    width: 100%;
    margin: 0px;
}

table.full-width {
    margin-bottom: 20px !important;
}

td.center {
    text-align: center;
    font-size: 20px;
}

.cursor:hover{
    cursor: pointer;
    background-color: #e1e1e1;
}