.selected {
    background-color: #CFD8DC !important;
    color: white;
  }

  a span.name.btn{
    font-weight: 700;
  }

  li.right {
    float: right;
}

.nav-tabs > li {
  border-radius: 5px 5px 0px 0px;
}

ul li.selected{
  border: 1px solid #ddd;
  border-bottom: none;
  background-color: white !important;
}

.nav-tabs > li > a:hover{
  border: 1px solid transparent;
  /* background-color: white; */
}

.nav-tabs > li.selected > a{
  background-color: white;
}

.category.nav.nav-tabs{
  margin-top: 15px;
}

.category.nav.nav-tabs {
  border-radius: 5px 5px 0px 0px;
  background-color: #e1e1e1;
}