<div class="fluid-container">
  <div class="row">
    <div class="col-xs-offset-1 col-xs-10">
      <div class="row">
        <div class="col-xs-12">
          <div class="col-xs-12">

          <table class="full-width">
              <div>
              <tr>
                  <th>Nom affaire</th>
                  <th>Objet</th>
                  <th>Numéro d'affaire</th>
                  <th>Numéro marché</th>
                  <th>Procédure</th>
                  <th>Etat</th>
                  <th>Commentaire</th>
                  <th>FDB</th>
                  <th>QS</th>
                  <th>CDCF</th>
                  <th>Date réunion de lancement</th>
                  <th>Fiche de sécurité</th>
                  <th>Annexe de sécurité</th>
                  <th>Date réunion de cadrage</th>
                  <th>Titulaire</th>
                  <th>Date lancement consultation</th>
                  <th>Voir plus</th>
              </tr>
          
              <tr *ngFor="let market of markets; let even = even;" [ngClass]="{pair: even}">
                  <td>{{market.name}}</td>
                  <td>{{market.object}}</td>
                  <td>{{market.caseNbr}}</td>
                  <td>{{market.marketNbr}}</td>
                  <td>{{market.Procedure}}</td>
                  <td>{{market.state}}</td>
                  <td>{{market.comment}}</td>
                  <td>{{market.FDB}}</td>
                  <td>{{market.QS}}</td>
                  <td>{{market.CDCF}}</td>
                  <td>{{market.launchMeetDate}}</td>
                  <td>{{market.securityForm}}</td>
                  <td>{{market.securityAnnexe}}</td>
                  <td>{{market.framMeetingDate}}</td>
                  <td>{{market.holder}}</td>
                  <td>{{market.lauchConsultDate}}</td>
                  <td><button type="button" class="btn btn-info" data-toggle="collapse" [attr.data-target]="'#subArray' + market.id">Plus</button></td>
                </tr>
                </div>
                
                <div class="collapse test" id="subArray1">
                <tr>
                  <th>Date RAO</th>
                  <th>Date de notification</th>
                  <th>Date de début d'exécution</th>
                  <th>Durée</th>
                  <th>Date de fin calculée</th>
                  <th>Montant min</th>
                  <th>Montant max initial</th>
                  <th>Montant max calculé</th>
                  <th>CCTP</th>
                  <th>CCAP</th>
                  <th>CCAG</th>
                  <th>CCP</th>
                  <th>AE</th>
                  <th>LDP</th>
                  <th>Annexe de prix</th>
                </tr>
                
                <tr *ngFor="let market of markets; let even = even;" [ngClass]="{pair: even}">
                  <td>{{market.RAOdate}}</td>
                  <td>{{market.notificationDate}}</td>
                  <td>{{market.startDateExe}}</td>
                  <td>{{market.duration}}</td>
                  <td>{{market.CalculEndDate}}</td>
                  <td>{{market.minAmount}}</td>
                  <td>{{market.maxAmount}}</td>
                  <td>{{market.calculMaxAmount}}</td>
                  <td>{{market.CCTP}}</td>
                  <td>{{market.CCAP}}</td>
                  <td>{{market.CCAG}}</td>
                  <td>{{market.CCP}}</td>
                  <td>{{market.AE}}</td>
                  <td>{{market.LDP}}</td>
                  <td>{{market.annexPrice}}</td>
                </tr>
              </div>
          </table>

        </div>
        </div>
      </div>
  </div>
  </div>
</div>