<div class="fluid-container">
      <div class="row">
        <div class="col-xs-offset-1 col-xs-10">
          <div class="row">
            <div class="col-xs-12">
          <div id="searchComponent" class="col-xs-12">
              <input [(ngModel)]="searchText" (keyup.enter)="onEnter()" type="text" [placeholder]=placeholder class="col-xs-11">
            <button (click)="onClick()" class="col-xs-1 btn btn-primary search-button"><i class="fas fa-search"></i></button>
          </div> 
          
            <div class="col-xs-4">
              <button class="btn btn-primary btn-lg">{{ buttonOne }}</button>
            </div>

            <div class="col-xs-4">
              <button class="btn btn-primary btn-lg center">{{ buttonTwo }}</button>
            </div>

            <div class="col-xs-3 col-xs-offset-1">
              <button class="btn btn-primary btn-lg right">{{ buttonThree }}</button>
            </div>
        </div>
      </div>
        
      </div>
</div>