<!-- <span class="center">
        <span class="elementAccueil">Nom</span>
        <span class="elementAccueil">Date</span>
        <span class="elementAccueil">Déposé par</span>
        <span class="elementAccueil">Résumé</span>
        <span class="elementAccueil"><i class="fas fa-cloud-download-alt"></i></span>
      </span> -->

      <table class="full-width">
      <tr class="entete">
          <th>Nom</th>
          <th>Date</th>
          <th>Déposé par</th>
          <th>Résumé</th>
          <th class="center">Téléchargement</th>
      </tr>

        <tr>
            <td>Fiche de besoin</td>
            <td>05/09/2017</td>
            <td>Bertrand</td>
            <td>Fiche à remplir pour initier un marché ou une convention</td>
            <td class="center"><img src="assets/images/download.png" alt="Téléchargement"></td>
        </tr>

        <tr>
            <td>Questionnaire de sécurité</td>
            <td>05/09/2017</td>
            <td>Bertrand</td>
            <td>Questionnaire à joindre pour les commandes</td>
            <td class="center"><img src="assets/images/download.png" alt="Téléchargement"></td>
        </tr>
        
    </table>

