<div class="fluid-container">
  <div class="row">
      <!-- <div class="col-xs-3">
        <p>Charte de déontologie signée</p>
      </div> -->
    <div class="col-xs-4">
      <form method="post" action="reception.php" enctype="multipart/form-data">
        <label for="mon_fichier">Charte de déontologie signée</label>
        <input type="hidden" name="MAX_FILE_SIZE" value="1048576" />
        <input type="file" name="mon_fichier" id="mon_fichier" />
      </form>
    </div>

    
    <div class="col-xs-4">
      <p>Déposé le xx/xx/xx</p>
    </div>
    <div class="col-xs-4">
      <p>Validé le xx/xx/xx</p>
    </div>

  </div>
</div>